@charset "UTF-8";

/*Typical Device Breackpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 990px 
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, rgb(156, 0, 156), #49a09d);
    }

    section#login{
        width: 80vw;
        height: 350px;
    }
    section#login > div#imagem{
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        
    }
    div#Formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    }

    div#Formulario > p{
    font-size: 1.2em;
    }
    
    form >input[type=submit]{
    width: 65.3%;
    height: 40px;
    }

    div.campo > input{
        width: calc(100% - 310px);
    transform: translate(2px, -13px);
    }
    
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, rgb(156, 0, 156), #49a09d);
    }
    
    section#login{
        width: 950px;
        height: 400px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#Formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
    }

    div#Formulario > p{
    font-size: 1.5em;
    text-align: justify;
    margin: 20px 0px;
    
    }

    form >input[type=submit]{
    width: 50%;
    height: 40px;
    }
   
    div.campo > input{
        width: calc(100% - 508px);
    transform: translate(2px, -13px);
    }
}